DROP TABLE NFE_ESTRUTURA
CREATE TABLE [dbo].[NFE_ESTRUTURA](
	[ETR_Sequencia] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ETR_Rotulo] [nvarchar](255) NULL,
	[ETR_Campo] [nvarchar](255) NULL,
	[ETR_Tabela_DE] [nvarchar](255) NULL,
	[ETR_Campo_DE] [nvarchar](255) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[NFE_ESTRUTURA] ON 

INSERT [dbo].[NFE_ESTRUTURA] ([ETR_Sequencia], [ETR_Rotulo], [ETR_Campo], [ETR_Tabela_DE], [ETR_Campo_DE]) VALUES (CAST(1 AS Numeric(18, 0)), N'IDE               ', N'[IDE]', N'Nfe_ide             ', N'                  ')
INSERT [dbo].[NFE_ESTRUTURA] ([ETR_Sequencia], [ETR_Rotulo], [ETR_Campo], [ETR_Tabela_DE], [ETR_Campo_DE]) VALUES (CAST(2 AS Numeric(18, 0)), N'IDE               ', N'    CUF', N'Nfe_ide             ', N'cUF               ')
INSERT [dbo].[NFE_ESTRUTURA] ([ETR_Sequencia], [ETR_Rotulo], [ETR_Campo], [ETR_Tabela_DE], [ETR_Campo_DE]) VALUES (CAST(3 AS Numeric(18, 0)), N'IDE               ', N'    NATOP', N'Nfe_ide             ', N'natOp             ')
GO
SET IDENTITY_INSERT [dbo].[NFE_ESTRUTURA] OFF
